
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.dll
*.cache
*.user
*.sdf
*.suo
*.VC.db
*.VC.VC.opendb

.vs/
x64/
Debug/
Release/

sfml-*-d.dll
sfml-*.dll
openal32.dll

*.tmp
*.bak
*.old

*.vcxproj.*
*.vcproj.*
*.ncb
*.sln.docstates

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile


.idea/
*.swp
